body{
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    background-color: #f7fbd8;
    margin: 0 3% !important;
}

.title{
  padding: 16px 0;
  color: #3B4CCA;
}

.pokemon-list{
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    max-width: 1000px;
    margin: auto;
}

.pokemon {
    padding: 15px;
    background: #B3A125;
    text-align: center;
}

.pokemon table{
  background-color: #fff;
  width: 100%;
}

.pokemon table th{
  text-align: center;
  padding: 10px 0;
  color: #3B4CCA;
}

.pokemon table td{
  text-align: left;
  padding-left: 9px;
}

.pokemon table td.poke-img{
  text-align: center;
}

.vs {
    text-align: center;
    margin: auto;
    font-size: 32px;
}

.instructions{
  padding: 15px;
  background-color: #fff;
  border: 3px solid #CC0000;
  border-radius: 20px;
}

.instructions li{
  list-style-type: decimal;
}

img{
    width: 55%;
}

button{
  background-color: #B3A125;
  color: #fff;
  margin: 0 5px;
  padding: 5px;
  border: none;

}

button:hover{
  cursor: pointer;
}

.button {
    background-color: #009688;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    font-size: 16px;
    cursor:pointer;
}

.button :hover {
    background-color: #00796B;

}

li{
    list-style-type:none;
}

* {
    box-sizing: border-box;
}

.column {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    background: #F5F7EA;
    float: left;
    width: 23%;
    align-content: center;
    text-align: center;
    margin: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;

}

.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 100px;
}

.general-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.Left,
.Middle,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.Left::-webkit-scrollbar,
.Middle::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}

.Middle {
    flex: 2;
}

.Right {
    width: 600px;
}

.divTable
{
    display:  table;
    width:auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;
}


.divRow
{
    display:table-row;
    width:auto;
}

.divCell
{
    float:left;
    display:table-column;
    width:200px;
    background-color:#ccc;
}

.fav-poke{
  background-color:#eee;
  border:1px solid #F5F7EA;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.fav-poke-name{
  text-transform: capitalize;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 15px;
}

.fav-poke-img img{
  width: 45%;
}

.fav-poke button{
  margin-bottom: 15px;
}
